<div class="container bg-dark">
    <div class="row">
        <div class="col-12 pt-2">
            <% @restaurants.each do |restaurant|  %>
            <a href="/restaurants/<%= restaurant.id%>">
             <div style="background: url(<%= restaurant.img %>) no-repeat center center;
                background-size: auto auto;
            background-size: cover;">
             <div class="jumbotron" align="center" style="background:rgba(0,0,0,.26)">
              <h1 class="display-4" id="title"><%= restaurant.name %></h1>
               <h4 class="desc"><%= restaurant.description %></h4>
               
               <a href="/restaurants/<%= restaurant.id %>/open" class="btn btn-light">Order Food</a>
               <a href="/restaurants/<%= restaurant.id %>/menu" class="btn btn-outline-light">See The Menu</a>
                 <h5 id="res<%= restaurant.id %>-available" class="text-light mt-2">
                     Tables Available: 0
                 </h5>
             </div>
            </div>
            </a>
            <% end %>
        </div>
    </div>
</div>