<h1>
  <%= @rest.name %>
</h1>

<% @mesas.each do |mesa| %>
  <div class="panel">
    <div class="submit_inputs">
      <div class="table_status">
        <%= image_tag "restaurante/#{params[:id]}/t#{mesa.id}.jpg" %>
      </div>
    </div>
      <div class="cameras">
        <%= form_tag({action: :create}, multipart: true) do %>
        <%= label(:img, "Status: #{mesa.available ? 'Available' : 'Not Available' }")%>
        <%= file_field_tag 'current_status' %>
        <%= hidden_field_tag 'rest_id', "#{params[:id]}"%>
        <%= hidden_field_tag 'mesa_id', mesa.id %>
        <%= submit_tag 'Actualizar' %>
        <% end %>
      </div>

  </div>
<% end %>
