<div class="jumbotron" id="" align="center">
 <h1 class="display-10" id=""><%= @restaurant.name %></h1>
 <div class="row">
    <div class="col-12">
     <% @products.each do |product|%>
      <%= form_for @product, url: restaurant_mesa_products_path do |f| %>
       <div class="card" style="width: 50%; display:block; margin: 0 auto;">
        <img class="card-img-top" src="<%=product.image%>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=product.name%></h5>
          <p class="card-text"><%= number_to_currency(product.precio) %></p>
          <input type="hidden" value="<%=product.id%>" name="product_id"/>
          <button type="submit" class="btn btn-primary btn-block btn-lg">Order</button>
        </div>
      </div>
      <% end %>
   <% end %>
    </div>
</div>
</div>
